@mixin button-animation {
    background-color: rgb(127, 185, 11);
    border-radius: 12px;
    border: none;
    color: $text_color;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}