body {
    background: linear-gradient(to right, #3525af, #9153c9);
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

.resume {
    width: 800px;
	background: #fff;
	margin: 25px auto;
	display: flex;
}

.left {
    background: #292b2f;
	width: 250px;
	padding: 0 20px;
}

.right {
    width: calc(100% - 250px);
}





/* .flex-container {
    display: flex;
    background-color: orange;
    justify-content: center;
    width: 300px;
    margin: auto;
}

.texts {
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.buttonbox {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;
}

.button {
    background-color:tomato;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color:yellowgreen;
}

.para {
    color: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
 */
