body {
    background-color: olivedrab;
}

h1 {
    color: #fff;
}

.flex-container {
    display: flex;
    background-color: orange;
    justify-content: center;
}

.texts {
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

